[Desktop Entry]
Comment=Display Neighborhood Temperatures launcher
Terminal=false
Name=DNT
Type=Application
Exec=/usr/local/bin/DNT
Icon=/usr/local/share/pixmaps/DNT.png



