[Desktop Entry]
Comment=Display Neighborhood Temperatures launcher
Terminal=false
Name=DNT
Type=Application
Exec=/usr/bin/python3 /usr/local/bin/DNT.py
Icon=/usr/local/share/pixmaps/DNT.png



