[Desktop Entry]
Comment=DisplayTemps launcher
Terminal=false
Name=Temperatures
Type=Application
Exec=python3 /usr/local/bin/DT.py
Icon=/usr/local/share/icons/DT.png



